.first-container {
  width: 1156px;
  height: 710px;
  background-color: #e3eef0;
  border-radius: 355px;
  position: relative;
}
.second-container {
  width: 810px;
  height: 488px;
  border: 1px dashed black;
  border-radius: 355px;
  background-color: #bacfd3;
}
.container1 {
  position: absolute;
  top: 80px;
  right: 500px;
}
.container2 {
  position: absolute;
  top: 200px;
  right: 140px;
}
.container3 {
  position: absolute;
  top: 200px;
  left: 140px;
}
.container4 {
  position: absolute;
  top: 400px;
  right: 140px;
}
.container5 {
  position: absolute;
  top: 400px;
  left: 140px;
}
.container6 {
  position: absolute;
  top: 550px;
  left: 260px;
}
.container7 {
  position: absolute;
  top: 560px;
  right: 400px;
}
.container8 {
  position: absolute;
  top: 250px;
  right: 450px;
}

@media only screen and (max-width: 767px) {
  .first-container {
    width: 100%;
    background-color: rgb(134, 128, 128);
    border-radius: 355px;
    position: relative;
  }
  .second-container {
    width: 100%;
    border: 1px dashed black;
    border-radius: 355px;
  }
  .container1 {
    position: absolute;
    top: 80px;
    right: 160px;
  }
  .container2 {
    position: absolute;
    top: 200px;
    right: 10px;
  }
  .container3 {
    position: absolute;
    top: 200px;
    left: 10px;
  }
  .container4 {
    position: absolute;
    top: 550px;
    right: 160px;
  }
  .container5 {
    position: absolute;
    top: 300px;
    left: 6px;
  }
  .container6 {
    position: absolute;
    top: 400px;
    left: 6px;
  }
  .container7 {
    position: absolute;
    top: 360px;
    right: 10px;
  }
  .container8 {
    position: absolute;
    top: 250px;
    right: 150px;
    width: 180px;
  }
}
@media only screen and (max-width: 576px) {
  .first-container {
    width: 100%;
    background-color: rgb(134, 128, 128);
    border-radius: 355px;
    position: relative;
  }
  .second-container {
    width: 100%;
    border: 1px dashed black;
    border-radius: 355px;
  }
  .container1 {
    position: absolute;
    top: 80px;
    right: 160px;
    padding: 1px;
    width: 60px;
  }
  .container2 {
    position: absolute;
    top: 200px;
    right: 10px;
    padding: 1px;
    width: 80px;
    height: 80px;
  }
  .container3 {
    position: absolute;
    top: 200px;
    left: 10px;
    padding: 1px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container4 {
    position: absolute;
    top: 550px;
    right: 160px;
    width: 80px;
    word-wrap: break-word;
    padding: 1px;
  }
  .container5 {
    position: absolute;
    top: 300px;
    left: 6px;
    padding: 1px;
    width: 80px;
    word-wrap: break-word;
  }
  .container6 {
    position: absolute;
    top: 400px;
    left: 6px;
    padding: 1px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container7 {
    position: absolute;
    top: 380px;
    right: 10px;
    padding: 1px;
    width: 70px;
    word-wrap: break-word;
  }
  .container8 {
    position: absolute;
    top: 250px;
    right: 150px;
    width: 180px;
    padding: 1px;
    width: 100px;
  }
}
